{% extends 'stationery/base.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}
{% block content%}
<main>
    <div class="about-section">
        <div class="mt-4">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <!-- breadcrumb -->
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                           <li class="breadcrumb-item"><a href="#!">Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
        <section>
            <div class="container-fluid mt-5">
              <div class="row my-lg-3">
                <div class="col-lg-7 col-xl-6 order-lg-2 mb-3 mb-lg-0">
                  <div class="d-flex align-items-center p-5 p-xl-6 bg-gray-100 h-100">
                    <div>
                      <h6 class="text-uppercase text-primary letter-spacing-5 mb-3"> About me</h6>
                      <h1 class="display-3 fw-bold mb-5">MAGNUS</h1>
                      <div class="row">
                        <div class="col-xl-12">
                          <p class="text-lg text-muted mb-lg-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos perspiciatis dolor fugiat architecto adipisci commodi quibusdam et eligendi dicta odio repellat deserunt, earum voluptates iusto ducimus, repudiandae error ipsam accusamus!</p>
                        </div>
                      </div>
                      <hr class="my-5">
                      <div class="row">
                        <div class="col-xl-6">
                          <h6 class="text-uppercase text-primary letter-spacing-3 mb-4">Get in touch</h6>
                          <p class="text-muted mb-5 mb-xl-0">123 Main Street<br>London, 45Y 73J<br>United Kingdom</p>
                        </div>
                        <div class="col-xl-6">
                          <h6 class="text-uppercase text-primary letter-spacing-3 mb-4">Company details</h6>
                          <p class="text-muted mb-0">Reg.Id: 7878787997<br>VAT Id: 12121545</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-xl-6 pe-lg-0 order-lg-1">
                  <div class="position-relative mh-full-screen-with-header h-100">
                    <img class="bg-image" src="./assets/images/blog-2.png" alt="">
                 </div>
                </div>
              </div>
            </div>
          </section>   
    </div>
    
    <div class="section-policy mt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <!-- Section 1: Free Delivery -->
                        <div class="col-md-4 item position-relative">
                            <div class="text-center px-4">
                                <i class="bi bi-truck"></i>
                                <h3 class="mt-2">Free Delivery</h3>
                                <p>If you are going to use of Lorem, you need to be sure there anything.</p>
                            </div>
                        </div>

                        <!-- Section 2: 30 Day Return -->
                        <div class="col-md-4 item position-relative">
                            <div class="text-center px-4">
                                <i class="bi bi-currency-dollar"></i>
                                <h3 class="mt-2">30 Day Return</h3>
                                <p>If you are going to use of Lorem, you need to be sure there anything.</p>
                            </div>
                        </div>

                        <!-- Section 3: 24/7 Support -->
                        <div class="col-md-4 item position-relative">
                            <div class="text-center px-4">
                                <i class="bi bi-headphones"></i>
                                <h3 class="mt-2">24/7 Support</h3>
                                <p>If you are going to use of Lorem, you need to be sure there anything.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock content%}