{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ElectroMart eCommerce{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'stationery/images/icon-libros.png' %}">
    <link rel="stylesheet" href="{% static 'stationery/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/font/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="border-bottom">
            <div class="py-4">
                <div class="container">
                    <div class="row w-100 align-items-center gx-lg-2 gx-0">
                        <div class="col-xxl-2 col-lg-3 col-md-6 col-5">
                            <a class="navbar-brand d-none d-lg-block" href="index.html">
                                <img src="{% static 'stationery/images/logo3.png' %}" alt="eCommerce HTML Template">
                            </a>
                            <div class="d-flex justify-content-between w-100 d-lg-none">
                                <a class="navbar-brand" href="index.html">
                                    <img src="{% static 'stationery/images/logo3.png' %}" alt="eCommerce HTML Template">
                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-8 col-lg-7 d-none d-lg-block">
                            <form action="#">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Buscar Productos">
                                    <span class="input-group-append">
                                        <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                                            type="button">
                                            <span class="bi bi-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-2"
                aria-label="Offcanvas navbar large">
                <div class="container">
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default"
                        aria-labelledby="navbar-defaultLabel">
                        <div class="offcanvas-header pb-1">
                            <a href="index.html"><img src="{% static 'stationery/images/logo2.png' %}"
                                    alt="eCommerce HTML Template"></a>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="d-block d-lg-none mb-4">
                                <form action="#">
                                    <div class="input-group">
                                        <input class="form-control" type="search" placeholder="Buscar Productos">
                                        <span class="input-group-append">
                                            <button
                                                class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                                                type="button">
                                                <span class="bi bi-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </form>

                            </div>
                            <div class="d-block d-lg-none mb-4">
                                <a class="btn btn-primary w-100 d-flex justify-content-center align-items-center collapsed"
                                    data-bs-toggle="collapse" href="#collapseExample" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    <span class="me-2">
                                        <i class="bi bi-grid"></i>
                                    </span>
                                    Todas las categorias
                                </a>
                                <div class="mt-2 collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <ul class="mb-0 list-unstyled">
                                            <li><a class="dropdown-item" href="#">Cuadernos y Papel </a></li>
                                            <li><a class="dropdown-item" href="#">Libros</a></li>
                                            <li><a class="dropdown-item" href="#">Material Artistico</a></li>
                                            <li><a class="dropdown-item" href="#">Oficina y Organización</a></li>
                                            <li><a class="dropdown-item" href="#">Papeles y Utiles</a></li>
                                            <li><a class="dropdown-item" href="#">Tecnología</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown me-3 d-none d-lg-block">
                                <button class="btn btn-primary px-6" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="me-1">
                                        <i class="bi bi-grid"></i>
                                    </span>
                                    Todas las categorias
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Cuadernos y Papel </a></li>
                                    <li><a class="dropdown-item" href="#">Libros</a></li>
                                    <li><a class="dropdown-item" href="#">Material Artistico</a></li>
                                    <li><a class="dropdown-item" href="#">Oficina y Organización</a></li>
                                    <li><a class="dropdown-item" href="#">Papeles y Utiles</a></li>
                                    <li><a class="dropdown-item" href="#">Tecnología</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item dropdown w-100 w-lg-auto">
                                        <a class="nav-link" href="index.html">Home</a>
                                    </li>
                                    <li class="nav-item dropdown w-100 w-lg-auto">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="shop.html">Shop Page - Filter</a></li>
                                            <li><a class="dropdown-item" href="shop-single.html">Shop Single</a></li>
                                            <li><a class="dropdown-item" href="wishlist.html">Shop Wishlist</a></li>
                                            <li><a class="dropdown-item" href="cart.html">Shop Cart</a></li>
                                            <li><a class="dropdown-item" href="checkout.html">Shop Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown w-100 w-lg-auto dropdown-fullwidth">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">Mega menu</a>
                                        <div class="dropdown-menu pb-0">
                                            <div class="row p-2 p-lg-4">
                                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                                    <h6 class="text-primary ps-3">Cuadernos y Papel</h6>
                                                    <a class="dropdown-item" href="#">Carpetas</a>
                                                    <a class="dropdown-item" href="#">Cuadernos Ryado</a>
                                                    <a class="dropdown-item" href="#">Cuadernos Cuadriculado</a>
                                                    <a class="dropdown-item" href="#">Cuaderno Universitario</a>
                                                    <a class="dropdown-item" href="#">Libretas y Agendas</a>
                                                </div>
                                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                                    <h6 class="text-primary ps-3">Papeleria y Utiles</h6>
                                                    <a class="dropdown-item" href="#">Borradores</a>
                                                    <a class="dropdown-item" href="#">Lapices</a>
                                                    <a class="dropdown-item" href="#">Marcadores</a>
                                                    <a class="dropdown-item" href="#">Reglas</a>
                                                    <a class="dropdown-item" href="#">Resaltadores</a>
                                                    <a class="dropdown-item" href="#">Sacapuntas</a>
                                                    <a class="dropdown-item" href="#">Tijeras</a>
                                                </div>
                                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                                    <h6 class="text-primary ps-3">Tecnologia</h6>
                                                    <a class="dropdown-item" href="#">Camara</a>
                                                    <a class="dropdown-item" href="#">Memoria USB</a>
                                                    <a class="dropdown-item" href="#">Audifonos</a>
                                                    <a class="dropdown-item" href="#">Teclados & Mouse</a>
                                                    <a class="dropdown-item" href="#">Calculadoras</a>
                                                </div>
                                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                                    <div class="position-relative">
                                                        <img src="{% static 'images/category/special-offer.png' %}"
                                                            class="rounded w-100" alt="eCommerce HTML Template"
                                                            class="img-fluid">
                                                        <div class="position-absolute ps-6 mt-8 top-0 p-4">
                                                            <h5 class="mb-0">
                                                                No te pierdas esto!!
                                                                <br>
                                                                oferta de hoy.
                                                            </h5>
                                                            <a href="#" class="btn btn-cart btn-sm mt-3">Compralo ya</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown w-100 w-lg-auto">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">sitios</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                            <li><a class="dropdown-item" href="blog-single.html">Blog Single</a>
                                            </li>
                                            <li><a class="dropdown-item" href="about.html">About us</a></li>
                                            <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    
    {% block content %}
        
    {% endblock content %}
        

    <!-- Footer Section -->
    <footer class="mt-50">
        <div class="container">
            <div class="footer">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase ">Navega</p>
                        <ul class="m-0 p-0 list-unstyled">
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Envio & Devoluciones</a></li>
                            <li><a href="#">Contactanos</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase">Categorias</p>
                        <ul class="m-0 p-0 list-unstyled">
                            <li><a href="#">Cuadernos y papel</a></li>
                            <li><a href="#">Libros</a></li>
                            <li><a href="#">Material Artistico</a></li>
                            <li><a href="#">Oficina y Organización</a></li>
                            <li><a href="#">Papeles y Utiles</a></li>
                            <li><a href="#">Tecnologia</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase">Help</p>
                        <ul class="m-0 p-0 list-unstyled">
                            <li><a href="#">Contactos</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase">Ubicanos</p>
                        <span>
                            Widgetify Inc. <br>
                            456 Gadget Avenue <br>
                            Techtown, TX 67890 <br>
                            Nagarote,Nicaragua
                        </span>
                    </div>
                </div>
                <hr>
                <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between bottom-footer">
                    <div class="mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <img src="{% static 'stationery/images/payment-method.png' %}" alt="eCommerce Html Template">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Section -->

    <script src="{% static 'stationery/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'stationery/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'stationery/js/jquery.ez-plus.js' %}"></script>
    <script src="{% static 'stationery/plugin/nice-select/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'stationery/plugin/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'stationery/plugin/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'stationery/plugin/slick/slick.min.js' %}"></script>
    <script src="{% static 'stationery/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>