{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ElectroMart eCommerce{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'stationery/images/icon-libros.png' %}">
    <link rel="stylesheet" href="{% static 'stationery/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/font/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/nouislider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/plugin/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'stationery/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="border-bottom">
            <div class="py-4">
                <div class="container">
                    <div class="row w-100 align-items-center gx-lg-2 gx-0">
                        <div class="col-xxl-2 col-lg-3 col-md-6 col-5">
                            <a class="navbar-brand d-none d-lg-block" href="{% url 'home' %}">
                                <img src="{% static 'stationery/images/logo3.png' %}" alt="eCommerce HTML Template">
                            </a>
                            <div class="d-flex justify-content-between w-100 d-lg-none">
                                <a class="navbar-brand" href="{% url 'home' %}">
                                    <img src="{% static 'stationery/images/logo3.png' %}" alt="eCommerce HTML Template">
                                </a>
                            </div>
                        </div>
                        <div class="col-xxl-8 col-lg-7 d-none d-lg-block">
                            <form action="#">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Buscar Productos">
                                    <span class="input-group-append">
                                        <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                                            type="button">
                                            <span class="bi bi-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 pb-lg-2"
                aria-label="Offcanvas navbar large">
                <div class="container">
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default"
                        aria-labelledby="navbar-defaultLabel">
                        <div class="offcanvas-header pb-1">
                            <a hhref="{% url 'home' %}"><img src="{% static 'stationery/images/logo2.png' %}"
                                    alt="eCommerce HTML Template"></a>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="d-block d-lg-none mb-4">
                                <form action="#">
                                    <div class="input-group">
                                        <input class="form-control" type="search" placeholder="Buscar Productos">
                                        <span class="input-group-append">
                                            <button
                                                class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                                                type="button">
                                                <span class="bi bi-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </form>

                            </div>
                            <div class="d-block d-lg-none mb-4">
                                <a class="btn btn-primary w-100 d-flex justify-content-center align-items-center collapsed"
                                    data-bs-toggle="collapse" href="#collapseExample" role="button"
                                    aria-expanded="false" aria-controls="collapseExample">
                                    <span class="me-2">
                                        <i class="bi bi-grid"></i>
                                    </span>
                                    Todas las categorias
                                </a>
                                <div class="mt-2 collapse" id="collapseExample">
                                    <div class="card card-body">
                                        <ul class="mb-0 list-unstyled">
                                            <li><a class="dropdown-item" href="#">Cuadernos y Papel </a></li>
                                            <li><a class="dropdown-item" href="#">Libros</a></li>
                                            <li><a class="dropdown-item" href="#">Material Artistico</a></li>
                                            <li><a class="dropdown-item" href="#">Oficina y Organización</a></li>
                                            <li><a class="dropdown-item" href="#">Papeles y Utiles</a></li>
                                            <li><a class="dropdown-item" href="#">Tecnología</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown me-3 d-none d-lg-block">
                                <button class="btn btn-primary px-6" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="me-1">
                                        <i class="bi bi-grid"></i>
                                    </span>
                                    Todas las categorias
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Cuadernos y Papel </a></li>
                                    <li><a class="dropdown-item" href="#">Libros</a></li>
                                    <li><a class="dropdown-item" href="#">Material Artistico</a></li>
                                    <li><a class="dropdown-item" href="#">Oficina y Organización</a></li>
                                    <li><a class="dropdown-item" href="#">Papeles y Utiles</a></li>
                                    <li><a class="dropdown-item" href="#">Tecnología</a></li>
                                </ul>
                            </div>
                            <div>
                               <ul class="navbar-nav align-items-center">
    <!-- Home -->
    <li class="nav-item dropdown w-100 w-lg-auto">
        <a class="nav-link" href="{% url 'home' %}">Home</a>  <!-- Original: index.html -->
    </li>

    <!-- Shop -->
    <li class="nav-item dropdown w-100 w-lg-auto">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'shopProduct' %}">Shop</a></li>  <!-- Original: shop-single.html -->
        </ul>
    </li>

    <!-- Mega menu (ÍTEMS CONSERVADOS EXACTAMENTE IGUAL) -->
    <li class="nav-item dropdown w-100 w-lg-auto dropdown-fullwidth">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mega menu</a>
        <div class="dropdown-menu pb-0">
            <div class="row p-2 p-lg-4">
                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                    <h6 class="text-primary ps-3">Cuadernos y Papel</h6>
                    <a class="dropdown-item" href="{% url 'shop' %}">Carpetas</a>  <!-- Mantengo el texto original -->
                    <a class="dropdown-item" href="{% url 'shop' %}">Cuadernos Ryado</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Cuadernos Cuadriculado</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Cuaderno Universitario</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Libretas y Agendas</a>
                </div>
                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                    <h6 class="text-primary ps-3">Papeleria y Utiles</h6>
                    <a class="dropdown-item" href="{% url 'shop' %}">Borradores</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Lapices</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Marcadores</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Reglas</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Resaltadores</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Sacapuntas</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Tijeras</a>
                </div>
                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                    <h6 class="text-primary ps-3">Tecnologia</h6>
                    <a class="dropdown-item" href="{% url 'shop' %}">Camara</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Memoria USB</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Audifonos</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Teclados & Mouse</a>
                    <a class="dropdown-item" href="{% url 'shop' %}">Calculadoras</a>
                </div>
                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                    <div class="position-relative">
                        <img src="{% static 'images/category/special-offer.png' %}" class="rounded w-100" alt="Oferta">
                        <div class="position-absolute ps-6 mt-8 top-0 p-4">
                            <h5 class="mb-0">No te pierdas esto!!<br>oferta de hoy.</h5>
                            <a href="{% url 'shopProduct' %}" class="btn btn-cart btn-sm mt-3">Compralo ya</a>  <!-- Original: # -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <!-- Blog -->
    <li class="nav-item dropdown w-100 w-lg-auto">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">sitios</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'blog1' %}">Blog</a></li>  <!-- Original: blog.html -->
            <li><a class="dropdown-item" href="{% url 'blog' %}">Blog Single</a></li>  <!-- Original: blog-single.html -->
        </ul>
    </li>
</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- Botón flotante de WhatsApp -->
<a href="https://wa.me/505XXXXXXXX" class="whatsapp-float" target="_blank">
  <i class="bi bi-whatsapp"></i>
</a>

<style>
.whatsapp-float {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  z-index: 100;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.whatsapp-float:hover {
  background-color: #1ebd5a;
}
</style>


    
    {% block content %}
        
    {% endblock content %}
        

    <!-- Footer Section -->
    <footer class="mt-50">
        <div class="container">
            <div class="footer">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase ">Navega</p>
                        <ul class="m-0 p-0 list-unstyled">
                            <li><a href="#">Sobre nosotros</a></li>
                            <li><a href="#">Envio & Devoluciones</a></li>
                            <li><a href="#">Contactanos</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase">Categorias</p>
                        <ul class="m-0 p-0 list-unstyled">
                            <li><a href="#">Cuadernos y papel</a></li>
                            <li><a href="#">Libros</a></li>
                            <li><a href="#">Material Artistico</a></li>
                            <li><a href="#">Oficina y Organización</a></li>
                            <li><a href="#">Papeles y Utiles</a></li>
                            <li><a href="#">Tecnologia</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase">Help</p>
                        <ul class="m-0 p-0 list-unstyled">
                            <li><a href="#">Contactos</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <p class="m-0 p-0 fw-medium mb-2 text-uppercase">Ubicanos</p>
                        <span>
                            Widgetify Inc. <br>
                            456 Gadget Avenue <br>
                            Techtown, TX 67890 <br>
                            Nagarote,Nicaragua
                        </span>
                    </div>
                </div>
                <hr>
                <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between bottom-footer">
                    <div class="mb-4 mb-sm-4 mb-md-4 mb-lg-0">
                        <img src="{% static 'stationery/images/payment-method.png' %}" alt="eCommerce Html Template">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Section -->

    <script src="{% static 'stationery/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'stationery/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'stationery/js/jquery.ez-plus.js' %}"></script>
    <script src="{% static 'stationery/plugin/nice-select/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'stationery/plugin/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'stationery/plugin/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'stationery/plugin/slick/slick.min.js' %}"></script>
    <script src="{% static 'stationery/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>