{% extends 'stationery/base.html' %}
{% load static %}

{% block title %}
Contacto
{% endblock title %}
{% block content%}
<main>
    <div class="contact-section">
        <div class="mt-4">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <!-- breadcrumb -->
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                           <li class="breadcrumb-item"><a href="#!">Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">Contáctanos</li>
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
          <section class="py-5 bg-gray-100 mt-5">
            <div class="container">
              <h1 class="h4 mb-5">Formulario de Contacto</h1>
              <div class="row">
                <div class="col-md-7 mb-5 mb-md-0">
                  <form class="form" id="contact-form" method="post">
                    <div class="controls">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="mb-4">
                            <label class="form-label" for="name">Nombre <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Escribe tu primer nombre" required="required">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="mb-4">
                            <label class="form-label" for="surname">Apellido <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="surname" id="surname" placeholder="Escribe tu primer apellido" required="required">
                          </div>
                        </div>
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="email">Tu email <span class="text-danger">*</span></label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Escribe tu correo electronico" required="required">
                      </div>
                      <div class="mb-4">
                        <label class="form-label" for="message">Tu mensaje para nosotros <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4" name="message" id="message" placeholder="Tu comentario" required="required"></textarea>
                      </div>
                      <button class="btn btn-outline-primary" type="submit">Enviar Mensaje</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-5">
                  <div class="ps-lg-4 text-sm">
                    <div class="container">       
                        <div class="row">
                          <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                            <div class="icon-rounded mb-4 bg-primary-light">
                                 <i class="bi bi-geo-alt"></i>
                            </div>
                            <h3 class="h5">Dirección</h3>
                            <p class="text-muted"> 123 calle principal<br>Nagarote, <br><strong>Nicaragua</strong></p>
                          </div>
                          <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                            <div class="icon-rounded mb-4 bg-primary-light">
                              <i class="bi bi-telephone"></i>
                            </div>
                            <h3 class="h5">Numeros de contacto</h3>
                            <ul class="list-unstyled text-muted">
                                <li>+505 555 444 333</li>
                                <li>+505 555 444 333</li>
                              </ul>
                          </div>
                          <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                            <div class="icon-rounded mb-4 bg-primary-light">
                              <i class="bi bi-envelope"></i>
                            </div>
                            <h3 class="h5">Soporte de la Libreia</h3>
                            <ul class="list-unstyled text-muted">
                              <li>libreriaElisa@gmail.com</li>
                              <li>Libreria@email.com</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
    
</main>
{% endblock content%}