{% extends 'stationery/base.html' %}
{% load static %}

{% block title %}
Compra del producto
{% endblock title %}
{% block content%}
<main>
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Cuadernos y papel</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cuaderno Universitario</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xl-6 pe-lg-50">
                    <div class="zoom border rounded" id="product-img-zoom"  data-zoom-image="./assets/images/product/ps1.png">
                        <img src={% static 'stationery/images/product/cuadernoU.png' %} class="w-100 rounded" alt="eCommerce Template">
                    </div>
                    <div class="product-tools mt-3">
                        <div class="thumbnails row g-3 slider-nav" id="productThumbnails" aria-label="Carousel Pagination">
                            <div class="col-3">
                                <div class="thumbnails-img border rounded">
                                    <img src={% static 'stationery/images/product/cuadernobuzz.png' %}  class="w-100 rounded" alt="eCommerce Template">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="thumbnails-img border rounded">
                                    <img src={% static 'stationery/images/product/cuadernoU2.png' %}  class="w-100 rounded" alt="eCommerce Template">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="thumbnails-img border rounded">
                                    <img src={% static 'stationery/images/product/pinturas.png' %}  class="w-100 rounded" alt="eCommerce Template">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="thumbnails-img border rounded">
                                    <img src={% static 'stationery/images/product/Tijeras.png' %}  class="w-100 rounded" alt="eCommerce Template">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xl-6">
                    <div class="ps-lg-10 mt-5 mt-md-0">
                        <h1 class="mb-1">Cuaderno Universitario</h1>
                        <div class="mb-4">
                            <small class="text-warning">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-half"></i>
                            </small>
                            <a href="#" class="ms-2">(30 reseñas)</a>
                        </div>
                        <div class="fs-4">
                            <span class="fw-bold text-dark">$32</span>
                            <span class="text-muted"><s>$35</s></span>
                            <span><small class="fs-6 ms-2 text-danger">20% de descuento</small></span>
                        </div>
                        <!-- hr -->
                        <hr class="my-4">
                        <div class="mb-5">
                            <div class="color-section mb-4">
                                <p class="fw-bold">Color</p>
                                <div class="custom-radios">
                                    <div class="color-item">
                                      <input type="radio" id="color-1" name="color" value="#000" checked>
                                      <label for="color-1">
                                        <span style="--color: #000;">
                                          <img src={% static 'stationery/images/icon/check-icn.svg'%} alt="Checked Icon" />
                                        </span>
                                      </label>
                                    </div>
                                    <div class="color-item">
                                      <input type="radio" id="color-2" name="color" value="#f1c40f">
                                      <label for="color-2">
                                        <span style="--color: #f1c40f;">
                                          <img src={% static 'stationery/images/icon/check-icn.svg'%} alt="Checked Icon" />
                                        </span>
                                      </label>
                                    </div>
                                    <div class="color-item">
                                      <input type="radio" id="color-3" name="color" value="#3e74c3c">
                                      <label for="color-3">
                                        <span style="--color: #e74c3c;">
                                          <img src={% static 'stationery/images/icon/check-icn.svg'%} alt="Checked Icon" />
                                        </span>
                                      </label>
                                    </div>
                                  </div>
                            </div>

                        </div>


                        <div class="product-action">

                            <div class="qty-container">
                                <button class="qty-btn-minus count-decreament" type="button"><i class="bi bi-dash"></i></button>
                                <input type="number" name="qty" value="1" class="input-qty input-cornered"/>
                                <button class="qty-btn-plus count-increament" type="button"><i class="bi bi-plus"></i></button>
                            </div>

                            <ul class="d-flex list-unstyled mt-4">
                               <li>
                                <a href="cart.html" class="btn btn-cart"><i class="bi bi-bag me-2"></i>Comprar</a>
                               </li>
                               <li>
                                <a class="btn btn-light" href="#" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Compare" data-bs-original-title="Compare"><i class="bi bi-arrow-left-right"></i></a>
                               </li>
                               <li>
                                <a class="btn btn-light" href="shop-wishlist.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Wishlist" data-bs-original-title="Wishlist"><i class="bi bi-heart"></i></a>
                               </li>
                            </ul>
                        </div>

                        <hr class="my-4">
                        <div>
                            <!-- table -->
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <td>SKU:</td>
                                        <td>554578787</td>
                                    </tr>
                                    <tr>
                                        <td>Disponibilidad:</td>
                                        <td>En Stock</td>
                                    </tr>
                                    <tr>
                                        <td>Tipo:</td>
                                        <td>Cuaderno Universitario de DC comics</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-lb-tab" id="myTab" role="tablist">
                        <!-- nav item -->
                        <li class="nav-item" role="presentation">
                            <!-- btn -->
                            <button class="nav-link active" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="true">
                                Detalle del producto
                            </button>
                        </li>
                        <!-- nav item -->
                        <li class="nav-item" role="presentation">
                            <!-- btn -->
                            <button class="nav-link" id="reviews-tab" data-bs-toggle="tab" data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane" aria-selected="false" tabindex="-1">
                                Reseñas
                            </button>
                        </li>
                        
                    </ul>
                    <!-- tab content -->
                    <div class="tab-content" id="myTabContent">
                        <!-- tab pane -->
                        <div class="tab-pane fade show active" id="product-tab-pane" role="tabpanel" aria-labelledby="product-tab" tabindex="0">
                            <div class="my-5">
                                <div class="mb-5">
                                    <!-- text -->
                                    <p class="mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisi, tellus iaculis urna bibendum in lacus, integer. Id imperdiet vitae varius sed magnis eu nisi nunc sit. Vel,
                                        varius habitant ornare ac rhoncus. Consequat risus facilisis ante ipsum netus risus adipiscing sagittis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab" tabindex="0">
                            <div class="my-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-5">
                                            <div class="d-flex border-bottom pb-2 mb-2">
                                                <div>
                                                    <h6 class="mb-1">Ernesto</h6>
                                                    <p class="small">
                                                        <span class="text-muted">01 de Diciembre del 2024</span>
                                                        <span class="text-primary ms-3 fw-bold">Verificado</span>
                                                    </p>
                                                    <div class="mb-2">
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                    </div>
                                                    <p>
                                                        Maximun Pulse
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-5">
                                            <div class="d-flex border-bottom pb-2 mb-2">
                                                <div>
                                                    <h6 class="mb-1">Ernesto</h6>
                                                    <p class="small">
                                                        <span class="text-muted">01 de enero 2025</span>
                                                        <span class="text-primary ms-3 fw-bold">Verificado</span>
                                                    </p>
                                                    <div class="mb-2">
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-fill text-warning"></i>
                                                        <i class="bi bi-star-half text-warning"></i>
                                                    </div>
                                                    <p>
                                                      3er piso	
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Artículos relacionados</h3>
                </div>
            </div>
            <div class="product mt-4">
                <div class="owl-carousel product-slider">
                    <div class="card product-card mx-2">
                        <a href="shop-single.html">
                            <img src={% static 'stationery/images/product/cuadernoU.png' %}  class="card-img-top" alt="eCommerce Template">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="shop-single.html">
                                    Cuaderno Universitario 
                                </a></h5>
                            <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                <span class="text-muted strike-through"><s>C$1500.00</s></span>
                                <span class="sell-price">C$1200.00</span>
                            </div>
                            <span class="discount-badge">20% DESCUENTO</span>
                        </div>
                        <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Solicitarlo</a>
                    </div>
                    <div class="card product-card mx-2">
                        <a href="shop-single.html">
                            <img src={% static 'stationery/images/product/cuadernobuzz.png' %}  class="card-img-top" alt="eCommerce Template">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="shop-single.html">
                                    Cuaderno de BUZZ
                                </a></h5>
                            <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                <span class="text-muted strike-through"><s>C$254.00</s></span>
                                <span class="sell-price">C$200.00</span>
                            </div>
                            <span class="discount-badge">10% DESCUENTO</span>
                        </div>
                        <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Solicitarlo</a>
                    </div>
                    <div class="card product-card mx-2">
                        <a href="shop-single.html">
                            <img src={% static 'stationery/images/product/lapizM.png' %}  class="card-img-top" alt="eCommerce Template">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="shop-single.html">
                                    Lapices de grafito
                                </a></h5>
                            <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                <span class="text-muted strike-through"><s>C$190.00</s></span>
                                <span class="sell-price">C$180.00</span>
                            </div>
                            <span class="discount-badge">5% DESCUENTO</span>
                        </div>
                        <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Solicitarlo</a>
                    </div>
                    <div class="card product-card mx-2">
                        <a href="shop-single.html">
                            <img src={% static 'stationery/images/product/CuadernoUniversitarioHarryPotter.png' %}  class="card-img-top" alt="eCommerce Template">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="shop-single.html">
                                    Cuaderno Universitario Harry Potter
                                </a></h5>
                            <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                <span class="text-muted strike-through"><s>C$150.00</s></span>
                                <span class="sell-price">C$100.00</span>
                            </div>
                            <span class="discount-badge">30% DESCUENTO</span>
                        </div>
                        <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Solicitarlo</a>
                    </div>
                    <div class="card product-card mx-2">
                        <a href="shop-single.html">
                            <img src={% static 'stationery/images/product/lapicerosBicTransparente.png' %} class="card-img-top" alt="eCommerce Template">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="shop-single.html">
                                    Caja de Lapiceros BIC
                                </a></h5>
                            <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                <span class="text-muted strike-through"><s>C$400.00</s></span>
                                <span class="sell-price">C$300.00</span>
                            </div>
                            <span class="discount-badge">10% DESCUENTO</span>
                        </div>
                        <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Solicitarlo</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </section>
</main>
{% endblock content%}