{% extends 'stationery/base.html' %}
{% load static %}

{% block title %}
Compras
{% endblock title %}
{% block content%}
<main>
    <div class="shop-section">
    <!-- section-->
    <div class="mt-4">
       <div class="container">
          <!-- row -->
          <div class="row">
             <!-- col -->
             <div class="col-12">
                <!-- breadcrumb -->
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="#!">Home</a></li>
                      <li class="breadcrumb-item"><a href="#!">Shop</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Mi</li>
                   </ol>
                </nav>
             </div>
          </div>
       </div>
    </div>
    <!-- section -->
    <div class="mb-lg-14 mb-5">
       <!-- container -->
       <div class="container">
          <!-- row -->
          <div class="row gx-10">
             <!-- col -->
             <aside class="col-lg-3 col-md-4 mb-2">
                <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
                   <div class="offcanvas-header d-lg-none border-bottom">
                      <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                   </div>
                   <div class="offcanvas-body ps-lg-2 pt-lg-0">
                    <div class="my-4">
                        <!-- title -->
                        <h5 class="mb-3">Categorias</h5>
                        <!-- nav -->
                        <ul class="nav nav-category" id="categoryCollapseMenu">
                           <li class="nav-item border-bottom w-100">
                              <a href="#" class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#categoryFlushOne" aria-expanded="false" aria-controls="categoryFlushOne">
                                 Cuadernos
                                 <i class="bi bi-chevron-right"></i>
                              </a>
                              <!-- accordion collapse -->
                              <div id="categoryFlushOne" class="accordion-collapse collapse" data-bs-parent="#categoryCollapseMenu">
                                 <div>
                                    <ul class="nav flex-column ms-3">
                                       <li class="nav-item"><a href="#!" class="nav-link">Cuadernos Universitarios</a></li>
                                       <li class="nav-item"><a href="#!" class="nav-link">Cuadernos Rayados</a></li>
                                       <li class="nav-item"><a href="#!" class="nav-link">Cuadernos Cuadriculados</a></li>
                                     </ul>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <div class="my-4 border-bottom pb-3">
                        <!-- price -->
                        <h5 class="mb-3">Precio</h5>
                        <div>
                           <!-- range -->
                           <div id="priceRange" class="mb-3"></div>
                           <small class="text-muted">Precio:</small>
                           <span id="priceRange-value" class="small"></span>
                        </div>
                     </div>

                     <div class="my-4 border-bottom pb-3">
                        <h5 class="mb-3">Color</h5>
                        <!-- form check -->
                        <div class="form-check mb-2">
                           <!-- input -->
                           <input class="form-check-input" type="checkbox" value="" id="tWhite" checked>
                           <label class="form-check-label" for="tWhite">White</label>
                        </div>
                        <!-- form check -->
                        <div class="form-check mb-2">
                           <!-- input -->
                           <input class="form-check-input" type="checkbox" value="" id="tBlue">
                           <label class="form-check-label" for="tBlue">Blue</label>
                        </div>
                        <!-- form check -->
                        <div class="form-check mb-2">
                           <!-- input -->
                           <input class="form-check-input" type="checkbox" value="" id="tBlack">
                           <label class="form-check-label" for="tBlack">Black</label>
                        </div>
                     </div>
                     <div class="mt-4">
                        <h5 class="mb-3">Clasificación</h5>
                        <div>
                           <!-- form check -->
                           <div class="form-check mb-2">
                              <!-- input -->
                              <input class="form-check-input" type="checkbox" value="" checked id="ratingFive">
                              <label class="form-check-label" for="ratingFive">
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                              </label>
                           </div>
                           <!-- form check -->
                           <div class="form-check mb-2">
                              <!-- input -->
                              <input class="form-check-input" type="checkbox" value="" id="ratingFour">
                              <label class="form-check-label" for="ratingFour">
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                              </label>
                           </div>
                           <!-- form check -->
                           <div class="form-check mb-2">
                              <!-- input -->
                              <input class="form-check-input" type="checkbox" value="" id="ratingThree">
                              <label class="form-check-label" for="ratingThree">
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                              </label>
                           </div>
                           <!-- form check -->
                           <div class="form-check mb-2">
                              <!-- input -->
                              <input class="form-check-input" type="checkbox" value="" id="ratingTwo">
                              <label class="form-check-label" for="ratingTwo">
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                              </label>
                           </div>
                           <!-- form check -->
                           <div class="form-check mb-2">
                              <!-- input -->
                              <input class="form-check-input" type="checkbox" value="" id="ratingOne">
                              <label class="form-check-label" for="ratingOne">
                                 <i class="bi bi-star-fill text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                                 <i class="bi bi-star text-warning"></i>
                              </label>
                           </div>
                        </div>
                     </div>
                   </div>
                </div>
             </aside>
             <section class="col-lg-9 col-md-12">
               
                <!-- list icon -->
                <div class="d-lg-flex justify-content-between align-items-center">
                   <div class="mb-3 mb-lg-0">
                       <h1 class="filter-title">Mi (Mostrando 20 de 2405 productos)</h1>
                   </div>

                   <!-- icon -->
                   <div class="d-md-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center justify-content-between">
                         <div class="d-lg-none">
                            <a class="btn border px-4 text-muted" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
                               <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter me-2">
                                  <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                               </svg>
                               Filters
                            </a>
                         </div>
                      </div>

                      <div class="d-flex mt-2 mt-lg-0">
                         <div class="me-2 flex-grow-1">
                            <!-- select option -->
                            <select class="nice-option">
                               <option selected="">Muestra: 50</option>
                               <option value="10">10</option>
                               <option value="20">20</option>
                               <option value="30">30</option>
                            </select>
                         </div>
                         <div>
                            <!-- select option -->
                            <select class="nice-option">
                               <option selected="">Ordenar por: Destacados</option>
                               <option value="Low to High">Precio: bajo a alto</option>
                               <option value="High to Low">Precio: Alto a bajo</option>
                               <option value="Release Date">Fecha de lanzamiento</option>
                               <option value="Avg. Rating">Rating Promedio</option>
                            </select>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- row -->
                <div class="product">
                <div class="row g-4 row-cols-xl-3 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-1">
                        <div class="col-md-3">
                            <div class="card product-card">
                                <a href="shop-single.html">
                                             
                                    <img src={% static 'stationery/images/product/17.png' %} class="card-img-top"
                                        alt="eCommerce Template">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="shop-single.html">
                                            OnePlus CE2 Lite 5G (6GB RAM)
                                        </a></h5>
                                    <div class="d-block d-sm-block d-md-flex d-lg-flex  justify-content-between align-items-center">
                                        <span class="text-muted strike-through"><s>$1500.00</s></span>
                                        <span class="sell-price">$1200.00</span>
                                    </div>
                                    <div class="icons">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist"><i
                                                class="bi bi-heart"></i> </a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick view"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i
                                                class="bi bi-arrow-left-right"></i> </a>
                                    </div>
                                    <span class="discount-badge">20% de descuento</span>
                                </div>
                                <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Add to
                                    Cart</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <a href="shop-single.html">
                                    <img src={% static 'stationery/images/product/1.png' %} class="card-img-top"
                                        alt="eCommerce Template">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="shop-single.html">
                                        Canon 3000D DSLR Camera (Black)
                                        </a></h5>
                                    <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                        <span class="text-muted strike-through"><s>$254.00</s></span>
                                        <span class="sell-price">$200.00</span>
                                    </div>
                                    <div class="icons">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist"><i
                                                class="bi bi-heart"></i> </a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick view"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i
                                                class="bi bi-arrow-left-right"></i> </a>
                                    </div>
                                    <span class="discount-badge">10% de descuento</span>
                                </div>
                                <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Add to
                                    Cart</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <a href="shop-single.html">
                                    <img src={% static 'stationery/images/product/2.png' %} class="card-img-top"
                                        alt="eCommerce Template">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="shop-single.html">
                                        Wireless Mechanical Mouse 
                                        </a></h5>
                                    <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                        <span class="text-muted strike-through"><s>$190.00</s></span>
                                        <span class="sell-price">$180.00</span>
                                    </div>
                                    <div class="icons">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist"><i
                                                class="bi bi-heart"></i> </a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick view"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i
                                                class="bi bi-arrow-left-right"></i> </a>
                                    </div>
                                    <span class="discount-badge">5% de descuento</span>
                                </div>
                                <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Add to
                                    Cart</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <a href="shop-single.html">
                                 
                                    <img src={% static 'stationery/images/product/3.png' %}  class="card-img-top"
                                        alt="eCommerce Template">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="shop-single.html">
                                          Wired USB Desktop Keyboard
                                        </a></h5>
                                    <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                        <span class="text-muted strike-through"><s>$150.00</s></span>
                                        <span class="sell-price">$100.00</span>
                                    </div>
                                    <div class="icons">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist"><i
                                                class="bi bi-heart"></i> </a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick view"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i
                                                class="bi bi-arrow-left-right"></i> </a>
                                    </div>
                                    <span class="discount-badge">30% de descuento</span>
                                </div>
                                <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Add to
                                    Cart</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <a href="shop-single.html">
                                    <img src={% static 'stationery/images/product/4.png' %}  class="card-img-top"
                                        alt="eCommerce Template">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="shop-single.html">
                                        SAMSUNG Galaxy Book4 Intel Core 5 120U
                                        </a></h5>
                                    <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                        <span class="text-muted strike-through"><s>$400.00</s></span>
                                        <span class="sell-price">$300.00</span>
                                    </div>
                                    <div class="icons">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist"><i
                                                class="bi bi-heart"></i> </a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick view"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i
                                                class="bi bi-arrow-left-right"></i> </a>
                                    </div>
                                    <span class="discount-badge">10% de descuento</span>
                                </div>
                                <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Add to
                                    Cart</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card product-card">
                                <a href="shop-single.html">
                                    <img src={% static 'stationery/images/product/5.png' %}   class="card-img-top"
                                        alt="eCommerce Template">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="shop-single.html">
                                        Rockerz 551 ANC with Hybrid ANC Headphone
                                        </a></h5>
                                    <div class="d-block d-sm-block d-md-flex d-lg-flex justify-content-between align-items-center">
                                        <span class="text-muted strike-through"><s>$1300.00</s></span>
                                        <span class="sell-price">$1200.00</span>
                                    </div>
                                    <div class="icons">
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Wishlist"><i
                                                class="bi bi-heart"></i> </a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Quick view"><i
                                                class="bi bi-eye"></i></a>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare"><i
                                                class="bi bi-arrow-left-right"></i> </a>
                                    </div>
                                    <span class="discount-badge">30% de descuento</span>
                                </div>
                                <a href="cart.html" class="d-block rounded py-2 text-center border mx-3 mb-3 btn-cart">Add to
                                    Cart</a>
                            </div>
                        </div>
                </div>
                </div>
               
                <!-- row -->
                <div class="row mt-5">
                   <div class="col">
                      <!-- nav -->
                      <nav>
                         <ul class="pagination">
                            <li class="page-item disabled">
                               <a class="page-link mx-1" href="#" aria-label="Previous">
                                  <i class="bi bi-arrow-left-short"></i>
                               </a>
                            </li>
                            <li class="page-item"><a class="page-link mx-1 active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link mx-1" href="#">2</a></li>

                            <li class="page-item"><a class="page-link mx-1" href="#">...</a></li>
                            <li class="page-item"><a class="page-link mx-1" href="#">12</a></li>
                            <li class="page-item">
                               <a class="page-link mx-1" href="#" aria-label="Next">
                                  <i class=" bi bi-arrow-right-short "></i>
                               </a>
                            </li>
                         </ul>
                      </nav>
                   </div>
                </div>
             </section>
          </div>
       </div>
    </div>
</div>
</main>
{% endblock content%}
